.navbar {
  border-radius: 0;
  box-shadow: 0 .8rem .8rem $panel-shadow-color;
}

.nav {
  a {
    font-size: 2rem;
    font-weight: bold;
  }
}

.nav-pills {
  display: flex;
  justify-content: center;
}
