.projects {
  h2 {
    margin-left: 2rem;
  }

  .panel-body {
    font-size: 1.75rem;
  }

  .tech-label {
    font-weight: bold;

    &::after {
      content: ': ';
      margin-right: .75rem;
    }
  }

  .source {
    margin-right: 1.25rem;
  }

  .source,
  .live {
    font-weight: bold;
  }
}

.thumb {
  cursor: pointer;

  &:hover {
    border: 4px solid $link-color;
  }
}

.image-modal {
  text-align: center;

  img {
    border: 2px solid $black;
    max-height: 100%;
    max-width: 100%;
  }
}
