.resume {
  svg {
    fill: $link-color;
  }

  .doc-svg {
    svg {
      height: 2rem;
    }
  }

  .exp {
    &:not(:last-of-type) {
      border-bottom: 1px solid $body-bg-color;
      margin-bottom: 3rem;
      padding-bottom: 1rem;
    }
  }

  .exp-title {
    font-weight: bold;
  }

  .exp-location {
    margin-left: 6rem;
  }

  .project-title {
    font-weight: bold;
    margin-right: 2rem;
  }

  .skills-list {
    li {
      font-size: 1.75rem;
    }
  }
}
