h1 {
  text-align: center;
  font-weight: bold;
  color: $title-color;
  position: relative;
}

body {
  background: $body-bg-color;
}

.panel {
  box-shadow: $panel-shadow;
}

.panel-heading {
  padding: .5rem;
}

h2 {
  margin: .25rem;
  font-size: 2.5rem;
  font-weight: bold;
}
