* {
	box-sizing: content-box;
	padding: 0;
	margin: 0;
	font-family: Verdana, San-serif;
}

a {
	text-decoration: none;
	font-weight: 600;
	color: #1C6A93;
}

a:visited {
	color: #1C6A93;
}

a:hover {
	color: #4499cc;
}

a:active {
	color: #333338;
}

body {
	position: absolute;
	min-height: 100%;
	width: 100%;
	
	background: #313132;
	
	display: flex;
	flex-flow: column;
}

header {
	background: white;
	
	display: flex;
	justify-content: space-around;
}

#nav-links {
	padding: 5px;
	list-style: none;
}

#nav-links li {
	display: inline-block;
	
	margin: 5px 0;
}

#nav-links li:not(:last-of-type) {
	border-right: 2px solid #313132;
}

#nav-links a {
	display: block;
	
	padding: 3px 10px;
}

#content {
	flex: 1;
	
	display: flex;
	flex-flow: column;
	align-items: center;
}

#content h1 {
	margin: 12px 0 0 0;
	
	color: white;
}

#entries {
	list-style: none;
}

.entry {
	width: 700px;
	margin: 15px 0 20px 0;
	padding: 5px 10px 10px 10px;
	
	background: #ececec;
	border-radius: 7px;
	box-shadow: 6px 6px 2px 0 black;
	
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
}

.entry h2 {
	text-align: center;
	flex: 1 100%;
	margin: 5px 0;
	
	color: #252529;
}

.entry img {
	margin: 0 7px 30px 0;
	
	border: 1px solid black;
}

.entry-info {
	flex: 1;
}

.entry-info .source {
	margin: 0 8px;
	
	display: flex;
	justify-content: space-between;
}

.entry-description {
	margin: 5px 0;
}

footer {
	height: 30px;
	
	display: flex;
	justify-content: flex-end;
	align-items: center;
	
	background: white;
}

footer p {
	margin: 5px 10px;
	
	color: #313132;
	font-size: 0.7em;
	font-weight: bold;
}