* {
	box-sizing: content-box; /*border-box;*/
	padding: 0;
	margin: 0;
	font-family: Verdana, San-serif;
}

* {
	border: 1px solid black;
}

body {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: stretch;
}

header {
	display: flex;
	justify-content: space-around;
}

#nav-links {
	padding: 5px;
	list-style: none;
}

#nav-links li {
	display: inline-block;
}

#nav-links a {
	display: block;
	text-decoration: none;
	padding: 8px 10px;
}

#content {
	flex: 1;
	
	display: flex;
	flex-flow: column;
	align-items: center;
}

#entries {
	list-style: none;
}

.entry {
	width: 700px;
	margin: 20px 0;
	
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
}

.entry h2 {
	text-align: center;
	flex: 1 100%;
}

.entry img {
	margin: 0 5px;
}

.entry-info {
	flex: 1;
}

.entry-description {
	margin: 3px 0;
}

footer {
	height: 40px;
}