<div class="projects container">
  <h1>Projects</h1>
  <div class="panel panel-default" ng-repeat="project in projects.list | orderBy: project.lastUpdate">
    <div class="panel-heading">
      <h2>{{project.title}}</h2>
    </div>
    <div class="panel-body media">
      <div class="media-left">
        <img class="thumb media-object"
          src="images/thumbs/{{project.image}}"
          width="250px"
          height="150px"
          ng-click="projects.openModal('images/' + project.image)"/>
      </div>
      <div class="media-body">
        <p><span class="tech-label">Technologies</span>{{project.technologies}}</p>
        <p>{{project.description}}</p>
        <p>
          <span class="source"><a href="{{project.sourceUrl}}">Source Code</a></span>
          <span class="live" ng-show="project.liveUrl"><a href="{{project.liveUrl}}">Live</a></span>
          <span class="pull-right">Last Update: {{project.lastUpdate | date:'yyyy/MM/dd'}}</span>
        </p>
      </div>
    </div>
  </div>
</div>
